In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv('/content/Car Sale.csv')
df

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,C_CND_023903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,C_CND_023904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,C_CND_023905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,C_CND_023906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [10]:
#1.What is the average selling price of cars for each dealer, and how does it compare across different dealers?

avg_price_by_dealer = df.groupby('Dealer_Name')['Price ($)'].mean().sort_values()

print("Average Selling Price by Dealer ($):")
print(avg_price_by_dealer.round(2))

max_dealer = avg_price_by_dealer.idxmax()
min_dealer = avg_price_by_dealer.idxmin()
price_range = avg_price_by_dealer.max() - avg_price_by_dealer.min()

print(f"\nComparison:")
print(f"Highest average price: {max_dealer} (${avg_price_by_dealer.max():.2f})")
print(f"Lowest average price: {min_dealer} (${avg_price_by_dealer.min():.2f})")
print(f"Price range across dealers: ${price_range:.2f}")

Average Selling Price by Dealer ($):
Dealer_Name
Buddy Storbeck's Diesel Service Inc                27217.26
Pitre Buick-Pontiac-Gmc of Scottsdale              27404.25
Chrysler Plymouth                                  27555.53
McKinney Dodge Chrysler Jeep                       27684.10
Clay Johnson Auto Sales                            27816.03
Nebo Chevrolet                                     27818.89
Hatfield Volkswagen                                27853.71
New Castle Ford Lincoln Mercury                    27867.13
Progressive Shippers Cooperative Association No    27884.26
Ryder Truck Rental and Leasing                     27914.99
Motor Vehicle Branch Office                        27956.74
Diehl Motor CO Inc                                 27993.93
Pars Auto Sales                                    28013.06
Tri-State Mack Inc                                 28095.56
C & M Motors Inc                                   28111.76
Suburban Ford                                      28112.21
Star Enterprises Inc                               28113.06
Chrysler of Tri-Cities                             28123.09
Race Car Help                                      28163.37
Capitol KIA                                        28189.70
Saab-Belle Dodge                                   28190.14
Gartner Buick Hyundai Saab                         28247.62
Scrivener Performance Engineering                  28297.37
Enterprise Rent A Car                              28312.58
Iceberg Rentals                                    28522.96
Rabun Used Car Sales                               28527.54
Classic Chevy                                      28602.01
U-Haul CO                                          28769.92
Name: Price ($), dtype: float64

Comparison:
Highest average price: U-Haul CO ($28769.92)
Lowest average price: Buddy Storbeck's Diesel Service Inc ($27217.26)
Price range across dealers: $1552.66

In [11]:
#2.Which car brand (Company) has the highest variation in prices, and what does this tell us about the pricing trends?

price_variation = df.groupby('Company')['Price ($)'].std().sort_values(ascending=False)

print("Price Variation (Standard Deviation) by Company ($):")
print(price_variation.round(2))

top_brand = price_variation.idxmax()
top_variation = price_variation.max()

print(f"\nBrand with highest price variation: {top_brand} (${top_variation:.2f})")

Price Variation (Standard Deviation) by Company ($):
Company
Lincoln       19658.05
Saab          19653.74
Cadillac      19517.12
Plymouth      19066.00
Lexus         17852.92
Buick         17142.23
Mercury       16445.17
Nissan        16214.26
Saturn        15990.22
Ford          15849.09
Mercedes-B    15722.81
Oldsmobile    15711.35
Toyota        15367.13
BMW           15065.58
Pontiac       14348.96
Infiniti      13696.33
Chevrolet     13311.06
Volvo         12933.79
Subaru        12920.77
Audi          12904.24
Volkswagen    12527.12
Mitsubishi    11671.34
Chrysler      11583.29
Dodge         11187.59
Honda         11148.63
Jaguar        10222.53
Jeep           9459.83
Acura          8183.05
Porsche        5261.84
Hyundai        3485.98
Name: Price ($), dtype: float64

Brand with highest price variation: Lincoln ($19658.05)

In [12]:
#3. What is the distribution of car prices for each transmission type, and how do the interquartile ranges compare?
price_stats = df.groupby('Transmission')['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']

print("Price Distribution Statistics by Transmission Type:")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

print("\nIQR Comparison:")
for transmission in price_stats.index:
    iqr = price_stats.loc[transmission, 'IQR']
    print(f"{transmission} IQR: ${iqr:.2f}")

Price Distribution Statistics by Transmission Type:
                count      mean       std     min      25%      50%      75%  \
Transmission
Auto          12571.0  28248.53  13747.07  1200.0  19000.0  24000.0  35500.0
Manual        11335.0  27914.71  15862.87  1700.0  17000.0  22001.0  34000.0

                  max      IQR
Transmission
Auto          75700.0  16500.0
Manual        85800.0  17000.0

IQR Comparison:
Auto IQR: $16500.00
Manual IQR: $17000.00

In [13]:
#4.What is the distribution of car prices across different regions?
price_stats = df.groupby('Dealer_Region')['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']

print("Price Distribution Statistics by Dealer Region:")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

Price Distribution Statistics by Dealer Region:
                count      mean       std     min      25%      50%      75%  \
Dealer_Region
Aurora         3130.0  28334.63  15026.21  9000.0  18001.0  23000.0  35000.0
Austin         4135.0  28341.60  14903.88  9000.0  18001.0  23801.0  35001.0
Greenville     3128.0  28180.82  15101.54  1200.0  18001.0  22500.0  34500.0
Janesville     3821.0  27833.35  14345.00  4300.0  18001.0  23000.0  34000.0
Middletown     3128.0  27856.34  14619.84  1700.0  18000.0  22750.0  34000.0
Pasco          3131.0  28119.04  14659.32  9000.0  18500.5  23000.0  34000.0
Scottsdale     3433.0  27954.96  14902.92  1450.0  18000.0  22600.0  33500.0

                   max      IQR
Dealer_Region
Aurora         85800.0  16999.0
Austin         85601.0  17000.0
Greenville     85200.0  16499.0
Janesville     85400.0  15999.0
Middletown     85300.0  16000.0
Pasco          85600.0  15499.5
Scottsdale     85001.0  15500.0

In [14]:
#5.What is the distribution of cars based on body styles?
body_style_counts = df['Body Style'].value_counts()
body_style_percent = (body_style_counts / body_style_counts.sum() * 100).round(2)

distribution = pd.DataFrame({
    'Count': body_style_counts,
    'Percentage (%)': body_style_percent
})

print("Distribution of Cars by Body Style:")
print(distribution)

Distribution of Cars by Body Style:
            Count  Percentage (%)
Body Style
SUV          6374           26.66
Hatchback    6128           25.63
Sedan        4488           18.77
Passenger    3945           16.50
Hardtop      2971           12.43

In [15]:
#6. How does the average selling price of cars vary by customer gender and annual income?
income_bins = [0, 30000, 60000, 100000, 150000, float('inf')]
income_labels = ['<30K', '30K-60K', '60K-100K', '100K-150K', '>150K']
df['Income Bracket'] = pd.cut(df['Annual Income'], bins=income_bins, labels=income_labels, include_lowest=True)

avg_price = df.groupby(['Gender', 'Income Bracket'])['Price ($)'].mean().unstack().round(2)

avg_price_gender = df.groupby('Gender')['Price ($)'].mean().round(2)

print("Average Selling Price by Gender and Income Bracket ($):")
print(avg_price)
print("\nAverage Selling Price by Gender ($):")
print(avg_price_gender)

Average Selling Price by Gender and Income Bracket ($):
Income Bracket      <30K  30K-60K  60K-100K  100K-150K     >150K
Gender
Female          28132.04      NaN       NaN   33000.50  28316.44
Male            27816.30      NaN   43000.0   16666.67  28103.75

Average Selling Price by Gender ($):
Gender
Female    28277.27
Male      28039.43
Name: Price ($), dtype: float64

<ipython-input-15-7514ff11c5e0>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_price = df.groupby(['Gender', 'Income Bracket'])['Price ($)'].mean().unstack().round(2)

In [16]:
#7.What is the distribution of car prices by region, and how does the number of cars sold vary by region/
cars_sold = df['Dealer_Region'].value_counts()
cars_sold_percent = (cars_sold / cars_sold.sum() * 100).round(2)

sales_distribution = pd.DataFrame({
    'Number of Cars Sold': cars_sold,
    'Percentage (%)': cars_sold_percent
})

price_stats = df.groupby('Dealer_Region')['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']
print("Number of Cars Sold by Dealer Region:")
print(sales_distribution)
print("\nPrice Distribution Statistics by Dealer Region ($):")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

Number of Cars Sold by Dealer Region:
               Number of Cars Sold  Percentage (%)
Dealer_Region
Austin                        4135           17.30
Janesville                    3821           15.98
Scottsdale                    3433           14.36
Pasco                         3131           13.10
Aurora                        3130           13.09
Greenville                    3128           13.08
Middletown                    3128           13.08

Price Distribution Statistics by Dealer Region ($):
                count      mean       std     min      25%      50%      75%  \
Dealer_Region
Aurora         3130.0  28334.63  15026.21  9000.0  18001.0  23000.0  35000.0
Austin         4135.0  28341.60  14903.88  9000.0  18001.0  23801.0  35001.0
Greenville     3128.0  28180.82  15101.54  1200.0  18001.0  22500.0  34500.0
Janesville     3821.0  27833.35  14345.00  4300.0  18001.0  23000.0  34000.0
Middletown     3128.0  27856.34  14619.84  1700.0  18000.0  22750.0  34000.0
Pasco          3131.0  28119.04  14659.32  9000.0  18500.5  23000.0  34000.0
Scottsdale     3433.0  27954.96  14902.92  1450.0  18000.0  22600.0  33500.0

                   max      IQR
Dealer_Region
Aurora         85800.0  16999.0
Austin         85601.0  17000.0
Greenville     85200.0  16499.0
Janesville     85400.0  15999.0
Middletown     85300.0  16000.0
Pasco          85600.0  15499.5
Scottsdale     85001.0  15500.0

In [17]:
#8.How does the average car price differ between cars with different engine sizes?
avg_price_engine = df.groupby('Engine')['Price ($)'].mean().sort_values().round(2)

engine_counts = df['Engine'].value_counts()

result = pd.DataFrame({
    'Average Price ($)': avg_price_engine,
    'Number of Cars': engine_counts
})

print("Average Car Price and Count by Engine Type:")
print(result)

Average Car Price and Count by Engine Type:
                           Average Price ($)  Number of Cars
Engine
DoubleÂ Overhead Camshaft           28248.53           12571
Overhead Camshaft                   27914.71           11335

In [18]:
#9. How do car prices vary based on the customer’s annual income bracket?
income_bins = [0, 30000, 60000, 100000, 150000, float('inf')]

income_labels = ['<30K', '30K-60K', '60K-100K', '100K-150K', '>150K']

df['Income Bracket'] = pd.cut(df['Annual Income'], bins=income_bins, labels=income_labels, include_lowest=True)

price_stats = df.groupby('Income Bracket', observed=True)['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']

print("Price Distribution Statistics by Income Bracket ($):")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

Price Distribution Statistics by Income Bracket ($):
                  count      mean       std      min      25%      50%  \
Income Bracket
<30K             5275.0  27884.30  14909.07   1200.0  18000.0  22001.0
60K-100K            1.0  43000.00       NaN  43000.0  43000.0  43000.0
100K-150K           5.0  23200.20  12950.34  14000.0  17000.0  19000.0
>150K           18625.0  28149.09  14754.84   1450.0  18001.0  23000.0

                    75%      max      IQR
Income Bracket
<30K            34000.0  85001.0  16000.0
60K-100K        43000.0  43000.0      0.0
100K-150K       20000.0  46001.0   3000.0
>150K           34001.0  85800.0  16000.0

In [19]:
#10.What are the top 5 car models with the highest number of sales, and how does their price distribution look?
top_models = df['Model'].value_counts().head(5)

top_models_df = df[df['Model'].isin(top_models.index)]

price_stats = top_models_df.groupby('Model')['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']

print("Top 5 Car Models by Number of Sales:")
print(top_models)
print("\nPrice Distribution Statistics for Top 5 Models ($):")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

Top 5 Car Models by Number of Sales:
Model
Diamante      418
Prizm         411
Silhouette    411
Passat        391
Ram Pickup    383
Name: count, dtype: int64

Price Distribution Statistics for Top 5 Models ($):
            count      mean       std      min      25%      50%      75%  \
Model
Diamante    418.0  22268.30   9770.77  12000.0  18000.0  19001.0  22000.0
Passat      391.0  19600.73   8218.52   9000.0  12001.0  20000.0  27001.0
Prizm       411.0  22838.46   8012.53  15000.0  16000.0  22000.0  25000.0
Ram Pickup  383.0  27820.86  13297.61  16000.0  19000.0  21000.0  39300.0
Silhouette  411.0  29858.51  17940.57  12000.0  14001.0  25000.0  34500.0

                max      IQR
Model
Diamante    49801.0   4000.0
Passat      32501.0  15000.0
Prizm       44700.0   9000.0
Ram Pickup  57750.0  20300.0
Silhouette  60750.0  20499.0

In [20]:
#11..How does car price vary with engine size across different car colors, and which colors have the highest price variation?
avg_price = df.groupby(['Engine', 'Color'])['Price ($)'].mean().unstack().round(2)

price_variation = df.groupby('Color')['Price ($)'].std().sort_values(ascending=False).round(2)

color_counts = df['Color'].value_counts()

variation_result = pd.DataFrame({
    'Price Std Dev ($)': price_variation,
    'Number of Cars': color_counts
})

print("Average Car Price by Engine and Color ($):")
print(avg_price)
print("\nPrice Variation by Color ($):")
print(variation_result)

Average Car Price by Engine and Color ($):
Color                         Black  Pale White       Red
Engine
DoubleÂ Overhead Camshaft  25766.45    30347.99  27434.39
Overhead Camshaft          31732.97    24327.77  30153.41

Price Variation by Color ($):
            Price Std Dev ($)  Number of Cars
Color
Black                15286.07            7857
Pale White           14077.35           11256
Red                  15519.36            4793

In [22]:
#12.Is there any seasonal trend in car sales based on the date of sale?
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', errors='coerce')

df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['Season'] = df['Month'].apply(get_season)

monthly_sales = df['Month'].value_counts().sort_index()
monthly_sales.index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

seasonal_sales = df['Season'].value_counts().reindex(['Winter', 'Spring', 'Summer', 'Fall'])

monthly_sales_percent = (monthly_sales / monthly_sales.sum() * 100).round(2)
seasonal_sales_percent = (seasonal_sales / seasonal_sales.sum() * 100).round(2)

monthly_distribution = pd.DataFrame({
    'Number of Sales': monthly_sales,
    'Percentage (%)': monthly_sales_percent
})
seasonal_distribution = pd.DataFrame({
    'Number of Sales': seasonal_sales,
    'Percentage (%)': seasonal_sales_percent
})

print("Car Sales Distribution by Month:")
print(monthly_distribution)
print("\nCar Sales Distribution by Season:")
print(seasonal_distribution)

Car Sales Distribution by Month:
     Number of Sales  Percentage (%)
Jan              790            3.30
Feb              735            3.07
Mar             1535            6.42
Apr             1655            6.92
May             1895            7.93
Jun             1715            7.17
Jul             1725            7.22
Aug             1705            7.13
Sep             3305           13.82
Oct             1830            7.65
Nov             3470           14.52
Dec             3546           14.83

Car Sales Distribution by Season:
        Number of Sales  Percentage (%)
Season
Winter             5071           21.21
Spring             5085           21.27
Summer             5145           21.52
Fall               8605           36.00

In [23]:
#13.How does the car price distribution change when considering different combinations of body style and transmission type?
df['Body_Trans'] = df['Body Style'] + ' - ' + df['Transmission']

price_stats = df.groupby(['Body Style', 'Transmission'])['Price ($)'].describe()

price_stats['IQR'] = price_stats['75%'] - price_stats['25%']

print("Price Distribution Statistics by Body Style and Transmission ($):")
print(price_stats[['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'IQR']].round(2))

Price Distribution Statistics by Body Style and Transmission ($):
                          count      mean       std      min      25%  \
Body Style Transmission
Hardtop    Auto          1408.0  31520.19  13687.76  12000.0  21001.0
           Manual        1563.0  27016.94  14072.50  11000.0  17575.5
Hatchback  Auto          3458.0  25910.54  13144.01   4200.0  18001.0
           Manual        2670.0  28702.55  16284.05   1700.0  17000.0
Passenger  Auto          2020.0  28915.84  13946.48   9000.0  19000.0
           Manual        1925.0  28969.52  18523.68  10000.0  16001.0
SUV        Auto          3086.0  27501.40  13299.93   1200.0  19000.0
           Manual        3288.0  26079.02  14621.53   2200.0  17000.0
Sedan      Auto          2599.0  29955.29  14310.91  12000.0  19000.0
           Manual        1889.0  29664.27  15440.06  11000.0  19001.0

                             50%      75%      max      IQR
Body Style Transmission
Hardtop    Auto          27000.0  43125.0  75501.0  22124.0
           Manual        22001.0  29000.0  82500.0  11424.5
Hatchback  Auto          21500.0  31000.0  75700.0  12999.0
           Manual        23000.0  36001.0  85600.0  19001.0
Passenger  Auto          25000.0  38000.0  69801.0  19000.0
           Manual        22000.0  37000.0  85800.0  20999.0
SUV        Auto          25000.0  33000.0  75501.0  14000.0
           Manual        22000.0  28000.0  85500.0  11000.0
Sedan      Auto          26000.0  39500.0  69980.0  20500.0
           Manual        25000.0  36600.0  69700.0  17599.0

In [29]:
#14.What is the correlation between car price, engine size, and annual income of customers, and how do these features interact?
print("Unique Engine Values:", df['Engine'].unique())
print("Price ($) Summary:", df['Price ($)'].describe())
print("Annual Income Summary:", df['Annual Income'].describe())
print("Missing Values:\n", df[['Price ($)', 'Engine', 'Annual Income']].isnull().sum())

df['Price ($)'] = pd.to_numeric(df['Price ($)'], errors='coerce')
df['Annual Income'] = pd.to_numeric(df['Annual Income'], errors='coerce')

df['Price ($)'].fillna(df['Price ($)'].median(), inplace=True)
df['Annual Income'].fillna(df['Annual Income'].median(), inplace=True)
df['Engine'].fillna('Unknown', inplace=True)

if df['Engine'].dtype == 'object':

    engine_map = {
        'I4': 1, 'V6': 2, 'V8': 3, 'Electric': 4, 'Unknown': 0
    }
    df['Engine_Encoded'] = df['Engine'].map(engine_map).fillna(0)
else:
    df['Engine_Encoded'] = df['Engine']

print("Engine_Encoded Summary:", df['Engine_Encoded'].describe())

corr_data = df[['Price ($)', 'Engine_Encoded', 'Annual Income']]
corr_matrix = corr_data.corr(method='pearson').round(2)

print("\nCorrelation Matrix (Price, Engine Size, Annual Income):")
print(corr_matrix)

income_bins = [
    df['Annual Income'].min(), 30000, 60000, 100000, 150000, df['Annual Income'].max() + 1
]
income_labels = ['<30K', '30K-60K', '60K-100K', '100K-150K', '>150K']
df['Income_Bracket'] = pd.cut(
    df['Annual Income'], bins=income_bins, labels=income_labels, include_lowest=True
)

price_by_engine_income = df.groupby(
    ['Engine', 'Income_Bracket'], observed=True
)['Price ($)'].mean().unstack().round(2)

print("\nAverage Car Price by Engine and Income Bracket ($):")
print(price_by_engine_income)

Unique Engine Values: [nan]
Price ($) Summary: count    23906.000000
mean     28090.247846
std      14788.687608
min       1200.000000
25%      18001.000000
50%      23000.000000
75%      34000.000000
max      85800.000000
Name: Price ($), dtype: float64
Annual Income Summary: count    2.390600e+04
mean     8.308403e+05
std      7.200064e+05
min      1.008000e+04
25%      3.860000e+05
50%      7.350000e+05
75%      1.175750e+06
max      1.120000e+07
Name: Annual Income, dtype: float64
Missing Values:
 Price ($)            0
Engine           23906
Annual Income        0
dtype: int64
Engine_Encoded Summary: count    23906.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: Engine_Encoded, dtype: float64

Correlation Matrix (Price, Engine Size, Annual Income):
                Price ($)  Engine_Encoded  Annual Income
Price ($)            1.00             NaN           0.01
Engine_Encoded        NaN             NaN            NaN
Annual Income        0.01             NaN           1.00

Average Car Price by Engine and Income Bracket ($):
Income_Bracket     <30K  60K-100K  100K-150K     >150K
Engine
Unknown         27884.3   43000.0    23200.2  28149.09

<ipython-input-29-3f7c61b9ccbe>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price ($)'].fillna(df['Price ($)'].median(), inplace=True)
<ipython-input-29-3f7c61b9ccbe>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Annual Income'].fillna(df['Annual Income'].median(), inplace=True)
<ipython-input-29-3f7c61b9ccbe>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine'].fillna('Unknown', inplace=True)
<ipython-input-29-3f7c61b9ccbe>:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Engine'].fillna('Unknown', inplace=True)

In [31]:
#15. How does the average car price vary across different car models and engine types?
avg_price = df.groupby(['Model', 'Engine'])['Price ($)'].mean().unstack().round(2)

counts = df.groupby(['Model', 'Engine'])['Price ($)'].count().unstack().fillna(0).astype(int)

print("Average Car Price by Model and Engine ($):")
print(avg_price)
print("\nNumber of Cars by Model and Engine:")
print(counts)

Average Car Price by Model and Engine ($):
Engine     Unknown
Model
3-Sep     37986.38
3000GT    22282.25
300M      21394.89
323i      17355.63
328i      27821.36
...            ...
Viper     30905.26
Voyager   31491.11
Windstar  23682.84
Wrangler  20134.55
Xterra    18901.08

[154 rows x 1 columns]

Number of Cars by Model and Engine:
Engine    Unknown
Model
3-Sep         171
3000GT        303
300M          243
323i          260
328i          206
...           ...
Viper         240
Voyager       181
Windstar      121
Wrangler      164
Xterra         92

[154 rows x 1 columns]